include ./../you_know/__left-part/you_know__left-part
include ./../you_know/__right-part/you_know__right-part
include ./../you_know/__icon/you_know--icon
.you_know
	.you_know__title.text-center
		| Из курса в
		span.black ы узнаете...
	.clearfix
		+left()
		+right()
	.d-none.d-lg-block
		+icon_comp()
		//
		//.you_know__text--right Что такое начальная точка и почему без знания этой цифры любая ваша диета - пустой звук.
		//	br
		//	br
		//	| Сколько в неделю жира можно сжигать, не навредив себе.
		//	br
		//	br
		//	| Узнаете о безопасные пищевые добавки, ускоряющих обмен веществ.
		//	br
		//	br
		//	| Чем полезны Баня и Массаж при похудении.
		//	br
		//	br
		//	| Почему многие не могут похудеть, прибегая лишь к физическим нагрузкам.
		//	br
		//	br
		//	| Можно ли обойтись без тренировок и похудеть.
		//	br
		//	br
		//	| Чем занятия в спортзале лучше тренировок дома.
		//	br
		//	br
		//	| Какая польза от физической нагрузки и сколько времени должна длится тренировка для эффективного сжигания жира.
		//	br
		//	br
		//	| В какое время эффективней всего заниматься спортом для сжигания жира.
		//	br
		//	br
		//	| Узнаете о самых эффективных видах тренировок для сжигания жира.
		//	br
		//	br
		//	| В заключении вы получите комплекс жиросжигающих и антицеллюлитных упражнений.
		//	br
		//	br
		//	| Как вовремя остановится и не перегнуть палку с похудением.
		//	br
		//	br
		//	| Как закрепить результат и не поправится вновь после диеты.
		//	br
		//	br
		//	| Таблицы калорийности для выбора продуктов при составлении своей диеты.