.you_know {
  position: relative;
  color: white;
  background: linear-gradient(to right, black 50%, white 50%);
}

.you_know__title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 1vw;
}

span.black {
  color: black
}

@media (min-width: 320px) and (max-width: 767px) {
  .you_know__title {
    font-size: 1.3em;
  }

}