.result__text--style {
  padding: 2vw;
  background-color: rgba(255,255,255,0.5);
  color: black;
  font: bold 1.3rem/1.5 'Exo';
}

@media (min-width: 577px) and (max-width: 991px) {
  .result__text--style  {
    font: bold 1.2rem/1.2 'Exo';
  }

}

@media (min-width: 320px) and (max-width: 576px) {
  .result__text--style  {
    font: normal 1.1rem/1.2 'Exo';
  }

}