include ./../../blocks/title/title.pug

.guaranty.p-5
	.text-center.pb-5
		+title('100% гарантии качества материала и возврата средств')
	.guaranty__text
		| При заказе данной книги вы получаете всё в полном объеме. Сам файл проверен на вирусы и безопасен для скачивания.
		br
		br
		| Если курс не поможет на протяжении 6 месяцев, то без каких-либо колебаний и препятствий мы вернем вам уплаченные деньги в полностью, но, лишь в том случае, если вы предоставите доказательства того, что вы действительно применяли знания из книги на практике, а не на словах, и вы не получили результат.