include ./../../blocks/button/button.pug
include __menu/first__menu
include __title/first__title.pug
include __text/first__text.pug

.first.p-lg-5.p-3
	+white_menu()
	.container-fluid
		.row.justify-content-center.justify-content-lg-end.justify-content-md-start
			.col-lg-8.col-md-8.col-sm-10.col-12.p-lg-5.p-md-3.p-2.m-3
				.first__bg.p-3
					+first-title('Предлагаем вам уникальный курс для правильного и эффективного похудения!')
					.p-lg-5.p-md-3.p-2
					+first__text('Но если вы ищите очередное волшебное средство для похудения? Тогда этот курс не для вас! Материал предназначен для тех, кто устал испытывать на себе множество дорогостоящих и порой опасных методик и модных диет для уничтожения лишних килограммов.')
					.m-lg-5.m-md-4.m-2
					.m-lg-5.m-md-4.m-2.text-center
						+red_button('заказать')
	.m-lg-5.m-md-3.m-2
