.course__text-right--style {
  font: normal 1.5rem/1.5 Exo;
  letter-spacing: -0.5px;
  font-weight: bold;
  padding-top: 200px;
  padding-left: 20px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .course__text-right--style {
    font: normal 1.5rem/1.5 Exo;
    letter-spacing: -0.5px;
    font-weight: bold;
    padding-top: 0;
    padding-left: 0;
  }
}