include ./../title/title.pug
include ./../button/button.pug

.after
	.text-center.p-5
		+title('После того как вы похудеете:')
	.container-fluid
		.row
			.col-3.text-center.p-5
				.after__icon1.text-center
				.after__text-icon Обретете чувство легкости, уверенности в себе, возможность носить красивую модную одежду и многие другие радости жизни!
			.col-3.text-center.p-5
				.after__icon2
				.after__text-icon Ваше здоровье начнет улучшатся!
			.col-3
				.after__icon3
				.after__text-icon Начнёте ловить на себе восхищенные взгляды окружающих Вас людей, особенно взгляды людей противоположного пола.
			.col-3.text-center.p-5
				.after__icon4
				.after__text-icon Cтанете счастливым и уверенным в себе человеком
		.row
			.col-3.text-center.p-5
				.after__icon5
				.after__text-icon Получите фигуру вашей мечты и будете выглядеть как супермодель
			.col-3.text-center.p-5
				.after__icon6
				.after__text-icon Перестанете стеснятся своего тела
			.col-3.text-center.p-5
				.after__icon7
				.after__text-icon Благоустроите свою личную жизнь
			.col-3.text-center.p-5
				.after__icon8
				.after__text-icon Построите успешную карьеру
	.text-center.p-1
		+red_button('ЗАКАЗАТЬ')