.after__icon1{
  background: url('after__icons/11.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon2{
  background: url('after__icons/12.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon3{
  background: url('after__icons/13.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon4{
  background: url('after__icons/14.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon5{
  background: url('after__icons/15.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon6{
  background: url('after__icons/16.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon7{
  background: url('after__icons/16.png') no-repeat center center;
  width: 100%;
  height: 77px;
}

.after__icon8{
  background: url('after__icons/18.png') no-repeat center center;
  width: 100%;
  height: 77px;
}