.ignore__title--style {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: black;
  padding: 1vw;
}

@media (min-width: 577px) and (max-width: 991px) {
  .ignore__title--style {
    font-size: 1.3rem;
    color: red;
  }

}

@media (min-width: 320px) and (max-width: 576px) {
  .ignore__title--style {
    font-size: 1.2rem;
    color: red;
  }

}