include ./../../blocks/title/title.pug

.footer.text-center.p-lg-5.p-3
	.p-5
	.footer__text
		| 2019 ВСЕ ПРАВА ЗАЩИЩЕНЫ
		.footer__text
			a(href='mailto:vladimir@pro-pohudeniye.ru') vladimir@pro-pohudeniye.ru
			|    - ПО ВСЕМ ВОПРОСАМ

