include ./../../blocks/title/title.pug

.footer
	.text-center
		+title('100% гарантии качества материала и возврата средств')
	.footer__text
	.p-5
	.footer__text--down
		| 2019 ВСЕ ПРАВА ЗАЩИЩЕНЫ
		br
		br
		| vladimir@pro-pohudeniye.ru - ПО ВСЕМ ВОПРОСАМ