include ./../../blocks/button/button.pug
include ./../../blocks/title/title.pug

.say_yes.pt-lg-5.pt-3.pr-lg-5.pl-lg-5.pr-3.pl-3
	.text-center
		+title('Может вы думаете, что у вас уникальный случай,  и нечего не получится? ')
	.say_yes__text
		| Уверяю вас, какой бы не был у вас запущенный случай, ВСЁ РЕШАЕМО! Ни ваш возраст, ни масса тела не помешают вам сжечь лишний жир и приобрести фигуру, о которой мечтаете. От вас требуется только одно: чётко и педантично выполнять все инструкции и рекомендации, и результат не заставит себя долго ждать! Знайте, без усилий у вас нечего не получится, ибо с законами природы не поспоришь.
		br
		br
		| Может вы ждете удобного для похудения времени или решили отложить все на завтра, на понедельник, на «после Нового года» или вы, опять устали, заняты и т. п. Если это так, то добиться успешных результатов у вас никогда не получится. Вы каждый раз будете искать отмазки и откладывать все на завтра, в итоге, так и не реализовав свою мечту.
		br
		br
		| Подходящего дня для старта просто не существует. Действовать нужно прямо сейчас! А хлопоты, усталость и повседневные дела были, есть и будут пока человек жив!
		br
		br
		| Люди всегда надеются, что завтра будет лучше, чем вчера, что придёт момент, всё станет лучше и ничего для этого не нужно делать... но, увы, этому не бывать. Ваша жизнь будет такой же, как и сейчас, если не предпринять конкретные шаги...
		br
		br
		| И что же мешает вам в осуществлении вашей мечты? Чего вы опять ждете, или вновь надеетесь на чудо? Знайте, чудес не бывает, ваш успех зависит только от вас самих! Поэтому начните менять свою жизнь в лучшую сторону прямо здесь и сейчас!
		br
		br
		| И знайте, что, не нажав сейчас кнопку «заказать», с вероятностью 95% вы так и будете искать все новую и новую модную диету, волшебную пилюлю, новую методику и т.д., и нечего не достигните и не измените в своей жизни!!!

	.text-center.p-5
		+red_button('ЗАКАЗАТЬ')