mixin left()
	.you_know__text--left.text-center.float-left
		| Все о причинах возникновения лишнего веса, включая заболевания, провоцирующие ожирение.
		br
		br
		| Чем вреден лишний вес для здоровья человека.
		br
		br
		| Как не довести себя при похудении до состояния анорексии.
		br
		br
		| Как мотивировать себя на похудение.
		br
		br
		| Самые распространенные ошибки, которые совершают желающие похудеть.
		br
		br
		| Почему люди редко добиваются успехов в похудении.
		br
		br
		| Теория правильного похудения
		br
		br
		| Все о не эффективных диетах и почему многие диеты не работают
		br
		br
		| Какая же диета самая эффективная для похудения.
		br
		br
		| Сколько раз в день нужно питаться
		br
		br
		| Что такое начальная точка и почему без знания этой цифры любая ваша диета - пустой звук.
		br
		br
		| Как вода помогает похудению
		br
		br
		| 3 основных правила борьбы с целлюлитом
		br
		br
		| Какие продукты лучше всего подходят для диеты.