mixin white_menu()
	.container-fluid
		.row.justify-content-end
			nav.navbar.navbar-expand-lg.navbar-dark
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse
					ul.navbar-nav.justify-content-end.first__menu--style
						li.nav-item.pl-5
							a.nav-link.text-white(href='#') ДЛЯ КОГО
						li.nav-item.pl-5
							a.nav-link.text-white(href='#') ЧТО ВНУТРИ
						li.nav-item.pl-5
							a.nav-link.text-white(href='#') РЕЗУЛЬТАТ
						li.nav-item.pl-5
							a.nav-link.text-white(href='#') СТОИМОСТЬ
						li.nav-item.pl-5
							a.nav-link.text-white(href='#') ГАРАНТИЯ
