mixin white_menu()
	.container-fluid
		.row.justify-content-start.justify-content-lg-end
			nav.navbar.navbar-expand-lg.navbar-dark
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNav.collapse.navbar-collapse
					ul.navbar-nav.first__menu--style.justify-content-start
						li.nav-item.pl-4.pr-4
							a.nav-link.text-white(href='#for_whom') ДЛЯ КОГО
						li.nav-item.pl-4.pr-4
							a.nav-link.text-white(href='#course') ЧТО ВНУТРИ
						li.nav-item.pl-4.pr-4
							a.nav-link.text-white(href='#result') РЕЗУЛЬТАТ
						li.nav-item.pl-4.pr-4
							a.nav-link.text-white(href='#go') СТОИМОСТЬ
						li.nav-item.pl-4.pr-4
							a.nav-link.text-white(href='#guarante') ГАРАНТИЯ
