mixin right()
	.you_know__text--right.text-center.float-right
		| Продукты от которых лучше отказаться во время диеты.
		br
		br
		| Сколько в неделю жира можно сжигать, не навредив себе.
		br
		br
		| Узнаете о безопасных пищевых добавках, ускоряющих обмен веществ.
		br
		br
		| Чем полезны Баня и Массаж при похудении.
		br
		br
		| Почему многие не могут похудеть, прибегая лишь к физическим нагрузкам.
		br
		br
		| Можно ли обойтись без тренировок и похудеть.
		br
		br
		| Чем занятия в спортзале лучше тренировок дома.
		br
		br
		| В какое время эффективней всего заниматься спортом для сжигания жира.
		br
		br
		| Узнаете о самых эффективных видах тренировок для сжигания жира.
		br
		br
		| Как закрепить результат и не поправится вновь после диеты.
		br
		br
		| Как вовремя остановится и не перегнуть палку с похудением.
		br
		br
		| Вы получите комплекс жиросжигающих и антицеллюлитных упражнений и таблицы калорийности для выбора продуктов при составлении своей диеты.

