include ./../title/title.pug
include ./__text/result__text.pug
.text-center.p-3
	+title('Какой результат вы получите')
.result.p-5
	+result_text('Какой результат получится именно у вас сложно сказать, все зависит от многих индивидуальных факторов, но прежде всего от вас самих! К индивидуальным факторам относятся ваш пол, возраст, здоровье и гормональный фон, тренированность, мотивация, финансовые возможности и др. Поэтому сложно предположить какой результат будет именно у вас. Может вы за месяц будете сжигать 2 килограмма жира, а может и 6 килограмм или более. Все зависит только от вас, вашей настойчивости, терпения и педантичности.')
	.text-center
		+result_text('НО ЕСЛИ ВЫ НЕ СДАДИТЕСЬ...')
