include ./../ignore/__list/ignore__list.pug
include ./../ignore/__title/ignoree__title.pug

.ignore
	.p-lg-5.p-3
		ul
			.pt-2
			+li_name('Завидуете подружкам с осиной талией?')
			.pt-2
			+li_name('Любуетесь сексуальным платьем в магазине и стыдитесь его примерить?')
			.pt-2
			+li_name('Нарушились интимные отношения со второй половинкой из-за лишнего веса?')
			.pt-2
			+li_name('Ожирение стало причиной букета заболеваний?')
	.container-fluid
			.row
				.col-12.text-center
					+ignore__title('Не игнорируйте проблему, а действуйте уже сегодня!')