include ./../ignore/__list/ignore__list.pug
include ./../ignore/__title/ignoree__title.pug

.ignore
	.p-5
		ul
			.p-2
			+li_name('Завидуете подружкам с осиной талией?')
			.p-2
			+li_name('Любуетесь сексуальным платьем в магазине и стыдитесь его примерить?')
			.p-2
			+li_name('Нарушились интимные отношения со второй половинкой из-за лишнего веса?')
			.p-2
			+li_name('Ожирение стало причиной букета заболеваний?')
	.m-5.container-fluid
		.row
			.col.text-center.m-5
				+ignore__title('Не игнорируйте проблему, а действуйте уже сегодня!')
	.m-5