include ./../course/__title/course__title.pug
include ./../course/__text-left/course__text-left.pug
include ./../course/__text-right/course__text-right.pug
include ./../../blocks/button/button.pug
.course.pl-5.pr-5.pt-3
	.text-center
		+title('Курс «Похудение от А до Я»')
	.container-fluid
		.row
			.col-lg-4.col-md-12
				+text-left('Это не очередное волшебное средство для похудения, а неповторимая находка для мужчин и женщин, избыточная масса тела которых мешает личной жизни, успешности и повышению самооценки!')
				.m-5
				+text-left('Это реально работающее пошаговое руководство, которое превратит ваше тело в предмет гордости, а не стыда или разочарования!')
				.m-5
				ul.course__text-left--text-style
					li Это не:
					li Ягоды годжи
					li Жидкие каштаны
					li Браслеты и пояса для похудения
					li Обертывания для похудения
					li Аудио гипноз
					li 25 кадр
					li И прочие бесполезные вещи!!

			.offset-lg-4.col-lg-4.offset-0.col-12.mt-5.mt-lg-0
				+text-right('Курс разработан спортсменом - психологом и построен на тех же принципах что и спортивное похудение. \n' +
        'Автор курса: Владимир Козлов.\n' +
        '\n' +
        '\n')
		.text-center.p-5
			+red_button('заказать')

