.course {
  background: url('back_on_black.jpg') center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  color: white;
}

@media (min-width: 320px) and (max-width: 991px) {
  .course {
    background: url('black_woman_center.jpg') center 70%;
  }

}