mixin counter2()
	#clockdiv
		div
			span.days
			.smalltext Дни
		div
			span.hours
			.smalltext Часы
		div
			span.minutes
			.smalltext Минуты
		div
			span.seconds
			.smalltext Секунды
	//
		https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/


