extends ./blocks/template/template.pug
block content
	include ./blocks/first/first.pug
	.m-5
	include blocks/ignore/ignore.pug
	include blocks/course/course.pug
	include blocks/for_whom/for_whom.pug
	include blocks/you_know/you_know.pug
	include blocks/result/result.pug
	include blocks/after/after.pug
	include blocks/go/go.pug
	include blocks/say_yes/say_yes.pug
	include blocks/guaranty/guaranty.pug
	include blocks/footer/footer.pug

