include ./__title/for_whom__title
include ./../for_whom/__list/for_whom__list.pug

.for_whom
	.text-center
		+title('Для кого этот курс?')
	.container-fluid
		.row
			.col
				.for_whom__img
			.col
				.for_whom__text--left.pt-3 Курс предназначен для людей всех возрастов, которые смогут найти  рекомендации для правильного и безопасного избавления от лишнего веса.

				.for_whom__text--left.pt-3
					| Книга содержит ответы на самые наболевшие вопросы для тех, кому надоели:
				ul.for_whom__text--list.pt-3
					+li_name_list('большие животы,')
					+li_name_list('обвисшие бока,')
					+li_name_list('чрезвычайно широкие бедра,')
					+li_name_list('толстые руки и ноги,')
					+li_name_list('вторые подбородки,')
					+li_name_list('целлюлит и т.п.')
		.row.justify-content-center
			.col-8
				.for_whom__text--center.p-5 Данное пособие станет надежным помощником для недавно набравших вес и для полных с самого детства! С помощью полезных рекомендаций удастся навсегда попрощаться с лишним весом и своими комплексами, связанными с полнотой, избежать пустой траты денег на сомнительные таблетки, напитки, гипнозы и прочую ерунду.